doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		title Cookie Cruncher

	body
		nav
			div(class="button",onclick="toggleMenu()")
				div
			div(class="controls")
				div(class="border")
				label(class="mode")
					input(type="checkbox",name="mode")
					span
				input(type="number",name="quantity")
				label(class="nums")
					input(type="checkbox",name='numbers',checked=true)
					span Short nums 
			div(class="settings")
				div(class="border")
				div(class="buffs")
					h2 Discount Buffs
					-var buffs = ['Divine discount','Season savings','Santa\'s dominion','Faberge egg','Dotjeiess, Spirit of Creation','Summon Crafty Pixies','Fierce Hoarder','Everything must go']
					each item in buffs
						label
							input(type="checkbox",name=item.split(' ')[0].split('\'').join('').split(',').join('').toLowerCase())
							span=item
				div(class="upgrades")
					h2 Other Upgrades
					-var upgrades = ['Starter kit','Starter kitchen']
					each item in upgrades
						label
							input(type="checkbox",name=item.split(' ')[1].split('\'').join('').split(',').join('').toLowerCase())
							span=item
		div(class="screen hidden",onclick="toggleMenu()")
		main
			h1 Cookie Cruncher
			div(class="buildings")
				-var bldgs = ['cursor','grandma','farm','mine','factory','bank','temple','wizard-tower','shipment','alchemy-lab','portal','time-machine','antimatter-condenser','prism','chancemaker']
				each item in bldgs
					div(id=item)
						img(alt=item,src="img/"+item+".png")
						input(type="number",min=0,max=9999,step=1)
						span(class="output")

		script(src="https://unpkg.com/react@16/umd/react.production.min.js", crossorigin)
		script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js", crossorigin)
		script(src="js/main.js")