doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		title Cookie Cruncher

	body
		nav(class="open")
			div(class="button",onclick="toggleMenu()")
				div
			div(class="controls")
				div(class="border")
				label(class="mode")
					input(type="checkbox",name="mode")
					span
				input(type="number",name="quantity")
				label(class="nums")
					input(type="checkbox",name='numbers',checked)
					span Short nums 
			div(class="settings")
				div(class="border")
				div(class="buffs")
					h2 Discount Buffs
					-var buffs = ['Divine discount','Season savings','Santa\'s dominion','Faberge egg','Everything must go','Fierce Hoarder','Summon Crafty Pixies']
					each item in buffs
						-var itemname = item.split(' ')[0].split('\'').join('').split(',').join('').toLowerCase()
						label
							input(type="checkbox",name=itemname,value=itemname)
							span=item
					label
						input(type="checkbox",value="dotjeiess")
						span="Dotjeiess, Spirit of Creation"
							input(type="radio",name="dotjeiess-lvl",value="diamond",checked)
							input(type="radio",name="dotjeiess-lvl",value="ruby")
							input(type="radio",name="dotjeiess-lvl",value="jade")
				div(class="upgrades")
					h2 Other Upgrades
					-var upgrades = ['Starter kit','Starter kitchen','Earth Shatterer']
					each item in upgrades
						-var itemname = item.split(' ')[1].split('\'').join('').split(',').join('').toLowerCase()
						label
							input(type="checkbox",name=itemname,value=itemname)
							span=item

		div(class="screen hidden",onclick="toggleMenu()")

		main
			h1 Cookie Cruncher
			div(class="buildings")
				-var bldgs = ['cursor','grandma','farm','mine','factory','bank','temple','wizard-tower','shipment','alchemy-lab','portal','time-machine','antimatter-condenser','prism','chancemaker']
				each item in bldgs
					div
						img(alt=item,src="img/"+item+".png")
						input(type="number",name=item,min=0,max=9999,step=1)
						span(class="output")

		script(src="https://unpkg.com/react@16/umd/react.production.min.js", crossorigin)
		script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js", crossorigin)
		script(src="js/main.js")